In [1]:
import numpy as np 
from tqdm import tqdm 
from binance.client import Client 
import pandas as pd
from datetime import datetime
import random

import talib

import plotly_express as px

In [2]:
#select cryptocurrencies you'd like to gather and time interval
ratios = ['BTC']
START_TIME = '21 May, 2020'
END_TIME = '21 May, 2021'
api_key=''
api_secret=''
client = Client(api_key=api_key,api_secret=api_secret)

In [3]:
# merge = False
for ratio in ratios:
    print(f'Gathering {ratio} data...')
    data = client.get_historical_klines(symbol=f'{ratio}USDT',interval=Client.KLINE_INTERVAL_1MINUTE,start_str=START_TIME,end_str=END_TIME)
    cols = ['time','open','high','low','close','volume','CloseTime','QuoteAssetVolume','NumberOfTrades','TBBAV','TBQAV','null']
    df = pd.DataFrame(data,columns=cols)
    print('complete')

Gathering BTC data...
complete

In [4]:
df

,time,open,high,low,close,volume,CloseTime,QuoteAssetVolume,NumberOfTrades,TBBAV,TBQAV,null
0,1590019200000,9511.43000000,9514.14000000,9494.14000000,9500.16000000,81.34476800,1590019259999,773109.83863476,1135,34.10987100,324254.02441966,0
1,1590019260000,9500.21000000,9500.67000000,9488.63000000,9489.99000000,64.96076200,1590019319999,616628.75596921,701,25.20204400,239208.15159891,0
2,1590019320000,9490.00000000,9493.50000000,9478.69000000,9480.35000000,107.55145000,1590019379999,1020267.22887883,943,42.03834200,398827.84972070,0
3,1590019380000,9480.35000000,9502.76000000,9480.32000000,9500.40000000,51.75872000,1590019439999,491250.19290099,621,30.47000700,289178.89959061,0
4,1590019440000,9500.45000000,9501.19000000,9488.33000000,9500.00000000,47.65945200,1590019499999,452527.99055242,595,18.76187800,178128.11894680,0
...,...,...,...,...,...,...,...,...,...,...,...,...
524433,1621554960000,40528.00000000,40588.53000000,40482.29000000,40569.00000000,35.01001200,1621555019999,1419418.98761027,2021,11.22629000,455159.37615197,0
524434,1621555020000,40562.51000000,40577.69000000,40450.00000000,40567.43000000,35.29716700,1621555079999,1430893.09982690,1624,7.59662900,307988.49981261,0
524435,1621555080000,40560.53000000,40747.68000000,40550.00000000,40747.68000000,91.12708300,1621555139999,3701890.14592443,2026,31.53936000,1281403.05169601,0
524436,1621555140000,40713.49000000,40847.51000000,40456.61000000,40526.64000000,143.40385400,1621555199999,5827299.86867054,3262,83.54190400,3393960.45908828,0
524437,1621555200000,40525.39000000,40674.49000000,40470.23000000,40653.70000000,105.15970000,1621555259999,4263083.81384708,2617,53.55663500,2172003.68220203,0

In [6]:
df.to_csv(r'C:\Users\josia\OneDrive\Documents\python_scripts\crypto\back_testing_data\may_20_to_may_21.csv',index = False)